name: E2E tests Slack Notifications

on:
  schedule:
    - cron: "* */12 * * *"

jobs:
  e2e-slack-notifications:
    runs-on: macos-latest
    name: E2E tests Slack Notifications
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
     
      - name: Install dependencies
        run: cd e2e && yarn install --frozen-lockfile
      - name: Install dependencies for Chromium
        run: npx playwright install-deps chromium
      - name: Unzip Metamask Flask Extension
        run:  ditto -x -k "./e2e/extension.zip" "./e2e/extension-source"
      - name: Run Playwright End to End Tests
        run: cd e2e && yarn test tests/*.test.ts
      # This is to upload artifacts, and report to Github
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: playwright-report
          path: playwright-report
      # This is to send the Job status to our Slack Channel snaps-notification
      - name: Send Slack Notification
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,message,commit,author,action,eventName,ref,workfow # selectable (default: repo,message)
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
        if: always() # Pick up events even if the job fails or is canceled.